---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen grid place-content-center background-radial">
		<div class="grid place-content-center self-center w-80 h-80 rounded-full shadow-2xl bg-emerald-200">
			<div class="grid place-content-center w-64 h-64 rounded-full shadow-2xl bg-emerald-500">
				<div class="w-40 h-40 rounded-full shadow-2xl bg-emerald-700"></div>
			</div>
		</div>
	</body>
</html>
